.App {
  text-align: center;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 5vmin 0;
}
.App-link {
  color: #61dafb;
}
.App-link:hover{
  color: #95e8ff;
  text-decoration: none;
  font-weight: 500;
}
.AppContent {
  padding: 3vmin;
  width: 90%;
  margin: 4vh auto 4vh auto;
  border-radius: 5vmin;
  color: white;
  background-color: rgba(29, 31, 38, 0.7);
}
.Map-container {
  padding: 5vmin;
}
.leaflet-container {
  min-height: 50vh;
  border-radius: 15px;
  opacity: 0.9;
  margin-bottom: 10px;
}
.leaflet-popup-content {
  text-align: center;
  font-size: small;
}